<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Lab2a_datatypes_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2a: Datatypes
Name: Valerie Carr  
Last updated: 8/25/21

**Purpose**: To gain practice with writing mathematical and Boolean expressions, and assigning values to variables

## 1. Document your notebook
* Enter your name as well as today's date in the cell above (you'll need to double click the cell to edit it). As a reminder, to run a cell, use `shift` + `enter`.  
* Also, please note that for some of the exercises below, you may see the message "x cells hidden." Simply click on this message to reveal the cells.

## 2. Mathematical expressions

### 2a. The basics
In the cells below, write expressions for each of the following, and run the cells:

In [ ]:
# Your age multiplied by one of your group member's ages
42 * 42

1764

In [ ]:
# The number of instructors in this course, cubed (cubed means to the third)
3 ** 3

27

In [ ]:
# The current year divided by 100
2021 / 100

20.21

### 2b. Data types
In the cells below, write expressions for each of the following. Discuss with your partner which ones returned an integer and which one returned a float.

In [ ]:
# 6 plus 2
6 + 2

8

In [ ]:
# 6.0 plus 2
6.0 + 2

8.0

In [ ]:
# 6 divided by 2
6 / 2

3.0

### 2c. Order of operations
Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is 24.

In [ ]:
20 * 1 + 2 ** 2

24

In [ ]:
(20 * 1) + (2 ** 2)

24

### 2d. Built-in functions
In the cells below, use built-in functions to determine the following:
* The absolute value of the difference between two children's ages (10 and 15)
* The lowest student grade received on a quiz: 76, 98, 83, 71
* The highest price of a cup of coffee: 2.50, 3.49, 2.99

In [ ]:
# Ages
abs(10 - 15)

5

In [ ]:
# Grade
min(76, 98, 83, 71)

71

In [ ]:
# Coffee
max(2.50, 3.49, 2.99)

3.49

## 3. Boolean expressions

### 3a. Basic Boolean expressions
Write Boolean expressions in each cell below. Feel free to use parentheses to help clarify your expressions.

In [ ]:
# 3 squared plus 4 is equivalent to 25 minus 12
(3 ** 2) + 4 == 25 - 12

True

In [ ]:
# The minimum age among four siblings (14, 9, 7, 2) is less than 3
min(14, 9, 7, 2) < 3

True

### 3b. `and`, `or`, and `not`
In the cells below, come up with your choice of Boolean statements for the `and`, `or`, and `not` operators. Make sure you understand why you received `True` or `False` for each one.

In [ ]:
# and
1 + 1 == 2 and 1 > 3

False

In [ ]:
# or
1 + 1 == 2 or 1 > 3

True

In [ ]:
# not
not(1 == 2)

True

## 4. Assigning values to variables

### 4a. Choosing valid names
Below, I've created some variable names to represent the price of a Hello Kitty mug. Note that I've purposefully made a few invalid names that will cause an error message. Before you run the cells, talk to your group about which ones you think will return an error. Then, go ahead and run each cell.

In [ ]:
hello_kitty = 9.99

In [ ]:
hello kitty = 9.99

SyntaxError: ignored

In [ ]:
hello-kitty = 9.99

SyntaxError: ignored

In [ ]:
hello_kitty1992 = 9.99

In [ ]:
1992hello_kitty = 9.99

SyntaxError: ignored

### ** Important note! **
In the lecture slides, I mentioned that PEP8 preference for multi-word variable names is to use underscores, e.g., `hello_kitty`.

Note that this is a **style preference**, and that Python won't actually give you an error if you created a slightly different variable name like: `helloKitty`. That is to say, in this class, I prefer that you use underscores as PEP8 suggests, but from Python's perspective, either `hello_kitty` or `helloKitty` are both reasonable.

### 4b. Assigning new values
Next, let's practice using a variable name inside a mathematical expression. In the cell below, write a mathematical expression to determine the following: the value assigned to `hello_kitty` squared

In [ ]:
hello_kitty ** 2

99.8001

We can also use variables inside Boolean expressions. In the cell below, write a Boolean expression to determine if the value assigned to `hello_kitty` is greater than or equal to 10.

In [ ]:
hello_kitty >= 10

False

### 4c. Importance of consistent capitalization, spelling, and pluralization
Remember, Python is very literal and doesn't autocorrect! In the space below, try repeating your Boolean expression from above, but purposefully make a mistake in how the variable is capitalized. Does it make sense why you receieved an error?

In [ ]:
Hello_kitty >= 10

NameError: ignored

## Congrats, you're done! 
You can leave your breakout room and return to the main Zoom room to briefly check in before signing off, or... you can stay a little longer and try the optional exercises below!

## OPTIONAL: Want more practice?
If you finished early and/or would like more practice at home, try the following...

### Mathematical expressions

In the cells below, write expressions for each of the following, and run the cells:
* The quotient for the number of times the current year can be divided by 100 
* The remainder of the above expression

In [ ]:
# Quotient
2021 // 100

20

In [ ]:
# Remainder
2021 % 100

21

### Data types
Write expressions for each of the following. Do you understand why both return floats?
* 6 divided by 2
* 6.0 divided by 2.0

In [ ]:
# 6 divided by 2
6 / 2

3.0

In [ ]:
# 6.0 divided by 2.0
6.0 / 2.0

3.0

### Order of operations
In the cell below, re-write the following expression to include parentheses to help clarify the order of operations, ensuring that your answer is correct (18.0):
* 10 / 5 + 3 * 6 - 2

In [ ]:
(10 / 5) + (3 * 6) - 2

18.0

### Boolean expressions
Look back at the expressions you wrote for 3b above. How would you edit these to obtain the opposite answer? I.e., if your original expression returned `True`, edit it so that it now returns `False`.

In [ ]:
# and
# original: 1 + 1 == 2 and 1 > 3 (gave us False)
1 + 1 == 2 and 1 < 3

True

In [ ]:
# or
# original: 1 + 1 == 2 or 1 > 3 (gave us True)
1 + 1 != 2 or 1 > 3

False

In [ ]:
# not
# original: not(1 == 2) (gave us True)
not(1 < 2)

False