<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module4_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?w=700&h=250&fit=crop' height=300px witdth=700px>

# APEX Faculty Training, Module 4: Strings
Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Nov 14, 2021  

**Learning outcomes**  
1. To learn another Python data type: Strings
2. To gain practice with strings and string operators

## 1. Before you start  
Make a copy of this notebook and document it with your name and today's date.  
This module introduces a couple of built-in Python functions and a new datatype: strings. As we go into this module, keep in mind PEP8 rules regarding spaces:
* Spaces before and after operators
* Don't put unnecessary spaces after a function name; just go straight to the parentheses
* Don't put unnecessary spaces at the beginning or end of parentheses

## 2. Determining data type  
### The `type()` function  
Python has a built-in function that can be used to determine data type: `type()`. This function can be used to directly determine a value's type or to determine the type of value assigned to a variable.  

<font color='red'>Exercise 1</font>  
Run the cells below to see how the `type()` function works on various inputs and feel free to try your own.

In [ ]:
type(6)

In [ ]:
type(3.14 * 2)

In [ ]:
type(False)

In [ ]:
a = 6 * 4
type(a)

int

### So why does Python have different data types?  
In everyday life, we treat letters and numbers differently:  
* We can multiply, divide, or square numbers  
* We can use letters to form words and sentences  
* But, "economics" divided by "psychology" doesn't make sense  

In other words, we perform different operations on numbers than we do on letters. Python is exactly the same. By knowing the data type, Python knows what operations can be performed.

<font color='red'>Exercise 2</font>  
Each of the cells below contains a value. Insert the built-in function `type()` in front of each value to determine its data type. Remember that the input should go between the parentheses of the function.

In [ ]:
False

bool

In [ ]:
164.80

float

In [ ]:
106

int

In [ ]:
'Are you enjoying learning Python so far?'

str

<font color='red'>Exercise 3</font>  
In the cell below, create a new line underneath the one already written, and use the `type()` function to determine the data type for the value assigned to `answer`.

In [ ]:
answer = 'yes'

str

## 3. Strings  
So far, we have learned three different Python data types: integers, floats, and booleans. Now, we'll introduce the fourth type, strings.  

A string is a data type that you can think of as text or characters. Letters, punctuation, symbols, spaces, and numbers (when treated as text) can be used in a string.  

* 'Hello World!'
* 'a'
* '555-123-4567'
* '#strings'

### 3a. Quotes
The way we tell Python that something is a string is by putting quote marks around it. Python doesn't care if you use single or double quotes. Throughout these modules, you'll see that single quotes are used for strings, but you can choose which you prefer to use, neither is more correct than the other. The important thing is to stay consistent.  

<font color='red'>Exercise 4</font>  
Use the `type()` function again on the values in the cells below to see the difference quotes make in the data type of a number.

In [ ]:
2021

int

In [ ]:
'2021'

str

<font color='red'>Exercise 5</font>  
Now, assign the variable `fav_drink` with the name of your favorite type of drink (coffee, tea, root beer, boba, etc.), as a string with single quotes. For instance: `fav_drink = 'cappuccino'`. If you'd like to see the value as an output, you can type the variable name in the line below. Then do the same thing, but try using double quotes around the string. Finally, try not using any quotes at all, and see what happens when you run the cell.

In [ ]:
# Single quotes

'ENGR102'

In [ ]:
# Double quotes

'ENGR102'

In [ ]:
# No quotes

NameError: ignored

Do you get a `NameError` when you don't use any quotes around the string? That is because Pyton doesn't know that it was meant as a string and is trying to treat it a different way, specifically, as a variable. However, since it wasn't defined as a variable previously, Python doesn't recognize it and therefore throws an error.

### 3b. Print  
Python has another built in function called `print()`. This function "prints" any string you provide as input, that is, it displays the string on the console when the function is run. Unlike the input, the output will not display the quote marks.  

To see how this works, follow the steps below.

<font color='red'>Exercise 6</font>  
First, run the cell below, which contains a string:

In [ ]:
econ = 'The four letter abbreviation for economics is ECON'

On the second line of the cell below, simply type `econ` (i.e., the variable name) and run the cell. In the cell below that, use the built-in function `print()` with the variable name inside the parentheses. Can you see how the outut for the two cells are different? In later modules, we'll do much more interesting things with the print function!

In [ ]:
# Variable only

'The four letter abbreviation for economics is ECON'

In [ ]:
# Print variable

The four letter abbreviation for economics is ECON

# You made it to the end!  
However, we're just getting started with strings. In the next module, you'll see operations we can perform on strings and how Python can access specific characters within a string with indexing.