<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module4_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?w=700&h=250&fit=crop' height=300px witdth=700px>

# APEX Faculty Training, Module 4: Strings
Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Nov 14, 2021  

**Learning outcomes**  
1. To learn another Python data type: Strings
2. To gain practice with strings and string operators

## 1. Before you start  
Make a copy of this notebook and document it with your name and today's date.  
This module introduces a couple of built-in Python functions and a new datatype: strings. As we go into this module, keep in mind PEP8 rules regarding spaces:
* Spaces before and after operators
* Don't put unnecessary spaces after a function name; just go straight to the parentheses
* Don't put unnecessary spaces at the beginning or end of parentheses

## 2. Determining data type  
### The `type()` function  
Python has a built-in function that can be used to determine data type: `type()`. This function can be used to directly determine a value's type or to determine the type of value assigned to a variable.  

<font color='red'>Exercise 1</font>  
Run the cells below to see how the `type()` function works on various inputs and feel free to try your own.

In [ ]:
type(6)

In [ ]:
type(3.14 * 2)

In [ ]:
type(False)

In [ ]:
a = 6 * 4
type(a)

int

### So why does Python have different data types?  
In everyday life, we treat letters and numbers differently:  
* We can multiply, divide, or square numbers  
* We can use letters to form words and sentences  
* But, "economics" divided by "psychology" doesn't make sense  

In other words, we perform different operations on numbers than we do on letters. Python is exactly the same. By knowing the data type, Python knows what operations can be performed.

<font color='red'>Exercise 2</font>  
Each of the cells below contains a value. Insert the built-in function `type()` in front of each value to determine its data type. Remember that the input should go between the parentheses of the function.

In [ ]:
False

bool

In [ ]:
164.80

float

In [ ]:
106

int

In [ ]:
'Are you enjoying learning Python so far?'

str

<font color='red'>Exercise 3</font>  
In the cell below, create a new line underneath the one already written, and use the `type()` function to determine the data type for the value assigned to `answer`.

In [ ]:
answer = 'yes'

str

## 3. Strings  
So far, we have learned three different Python data types: integers, floats, and booleans. Now, we'll introduce the fourth type, strings.  

A string is a data type that you can think of as text or characters. Letters, punctuation, symbols, spaces, and numbers (when treated as text) can be used in a string.  

* 'Hello World!'
* 'a'
* '555-123-4567'
* '#strings'

### 3a. Quotes
The way we tell Python that something is a string is by putting quote marks around it. Python doesn't care if you use single or double quotes. Throughout these modules, you'll see that single quotes are used for strings, but you can choose which you prefer to use, neither is more correct than the other. The important thing is to stay consistent.  

<font color='red'>Exercise 4</font>  
Use the `type()` function again on the values in the cells below to see the difference quotes make in the data type of a number.

In [ ]:
2021

int

In [ ]:
'2021'

str

<font color='red'>Exercise 5</font>  
Now, assign the variable `fav_drink` with the name of your favorite type of drink (coffee, tea, root beer, boba, etc.), as a string with single quotes. For instance: `fav_drink = 'cappuccino'`. If you'd like to see the value as an output, you can type the variable name in the line below. Then do the same thing, but try using double quotes around the string. Finally, try not using any quotes at all, and see what happens when you run the cell.

In [ ]:
# Single quotes

'ENGR102'

In [ ]:
# Double quotes

'ENGR102'

In [ ]:
# No quotes

NameError: ignored

Do you get a `NameError` when you don't use any quotes around the string? That is because Pyton doesn't know that it was meant as a string and is trying to treat it a different way, specifically, as a variable. However, since it wasn't defined as a variable previously, Python doesn't recognize it and therefore throws an error.

### 3b. Print  
Python has another built in function called `print()`. This function "prints" any string you provide as input, that is, it displays the string on the console when the function is run. Unlike the input, the output will not display the quote marks.  

To see how this works, follow the steps below.

<font color='red'>Exercise 6</font>  
First, run the cell below, which contains a string:

In [ ]:
econ = 'The four letter abbreviation for economics is ECON'

On the second line of the cell below, simply type `econ` (i.e., the variable name) and run the cell. In the cell below that, use the built-in function `print()` with the variable name inside the parentheses. Can you see how the outut for the two cells are different? In later modules, we'll do much more interesting things with the print function!

In [ ]:
# Variable only

'The four letter abbreviation for economics is ECON'

In [ ]:
# Print variable

The four letter abbreviation for economics is ECON

## 4. String operators

### 4a. Comparison operators  
Like with the other data types we worked with in the previous module, comparison operators can also be applied to strings to create a Boolean expression.  

**i. Equality/inequality**  
To test for equality, use `==` and `!=`. Run the following cells to see how this works for strings.

In [ ]:
my_string = 'hello' # = assigns a value

In [ ]:
my_string == 'hello' # == tests for equality

True

In [ ]:
my_string != 'hello' # != tests for inequality

False

<font color='red'>Exercise 7</font>   
In the cell below, create the variable `fav_band1` and assign it a string of your current favorite band. In the same cell, start a new line and create the variable `fav_band2`, then assign it the name of your favorite band when you were in middle school. Ensure that you run the cell when you're done (and don't forget the quote marks for your strings!).

In [ ]:
# Current favorite band

# Favorite band in middle school

<font color='red'>Exercise 8</font>  
**Next**, determine whether your favorite band has remained the same through the years, i.e., test for equality of the two variables.

In [ ]:
# Has your favorite band stayed the same?

False

**ii. Alphabetical order**  
Python uses `<` and `>` to determine aphabetical order of strings. Think of < as meaning “appears before” and > as meaning “appears after” with respect to alphabetical order. It might also help to think of 'a' as having the smallest value in the alphabet (1), and 'z' having the largest value (26).  

Run the cell below to test the order of the strings stored in the variables.

In [ ]:
word1 = 'cat'
word2 = 'dog'

# Does word1 come before word2?
word1 < word2

False

<font color='red'>Exercise 9</font>  
In the cell below, create the variable `fav_book` and assign it the value of your favorite book. In the same cell, start a new line and create the variable `fav_movie`, and then assign it the value of your favorite movie.

In [ ]:
# Favorite book

# Favorite movie

<font color='red'>Exercise 10</font>  
Next, determine whether `fav_book` appears before `fav_movie` in the alphabet.

In [ ]:
# Does fav_book come before fav_movie in the alphabet?

True

<font color='red'>Exercise 11</font>  
Now create a test to see if these comparison operators are case sensitive. Hint: Does 'cat' come before or after 'Dog'?

In [ ]:
# What about different cases?

True

### 4b. Algebraic operators

**i. Concatenation**  
Strings can be joined together (concatenated) with the `+` operator.  

Run the cell below to see the output of two cells concatenated together.

In [ ]:
str1 = 'hello'
str2 = 'world'
str1 + str2

'helloworld'

Notice that string contactenation with the `+` operator will not add any spaces for you, but will put the two strings together exactly as they are. Run the cell below to see how to concatenate the two strings with a space between them.

In [ ]:
str1 + ' ' + str2

'hello world'

<font color='red'>Exercise 12</font>  
In the cell below, create the variable `pizza` after the existing lines and assign it the joint value of `top1` and `top2`. In the same cell, insert a new line and type `pizza` to check what the output looks like.

In [ ]:
top1 = 'artichokes'
top2 = 'olives'

## Your code here

<font color='red'>Exercise 13</font>  
Next, repeat the above process, but this time think about how you can include a space and a comma between the two toppings so that the output looks better.

In [ ]:
# 4bi. 2)

'artichokes olives'

**ii. Copies**  
Multiple copies of a string can be concatenated with the `*` operator and an integer. The integer can go before the `*` operator with the string after, or vice versa. Run the cells below to see how this works.

In [ ]:
# Integer first
2 * 'yo'

In [ ]:
# String first
'yo' * 2

In [ ]:
# Include spaces
3 * 'yo '

'yo yo yo '

<font color='red'>Exercise 14</font>  
In the cell below, assign a new value to `pizza` that evaluates to double `top1`.

In [ ]:
# Pizza with double top1

'olivesolives'

### 4c. `in` and `not in`  
Sometimes it's necessary to check whether a string contains a particular substring of characters (or not). To do this, Python has the keywords `in` and `not in`. Both of these work like the other Boolean operators we just learned: they take two string arguments and return either `True` or `False`.

In [ ]:
my_alphabet = 'abcdefghijkmnopqrstuvwxyz'
'z' in my_alphabet

True

The character 'z' is in the string so the return value is `True`

In [ ]:
'l' in my_alphabet

False

We seemed to have missed the letter 'l' when creating our alphabet, so it returns `False`.

<font color='red'>Exercise 15</font>  
You meet a new friend from Croatia, who tells you that her name is Ksenija. In the cell below, write an expression to determine whether the letter `y` is in her name.

In [ ]:
# Does 'Ksenija' contain the letter 'y'?

False

In [ ]:
# Does the following sentence contain the word 'try'?
sentence = 'Do or do not, there is no try.'

# Your code here

True

### 4d. `len()`
Sometimes it is valuable to know how many characters are in a string. Python has a built-in function `len()` that will return the length of the item within its parentheses. Run the cells below to see how this works.

In [ ]:
my_string = "Hello"
len(my_string)

5

In [ ]:
my_string = 'Hello World'
len(my_string)

11

Notice how a space still counts as a character and therefore adds to the total number of characters in the string.

<font color='red'>Exercise 16</font>  
In the cell below, start by creating the variable `school` and assign it the name of your school (as a string).  

Then, in the same cell, insert a new line and determine the length of the string assigned to `school`.

In [ ]:
# Determine the length of the name of your school

43

# You made it to the end!  
We're not quite done with strings yet, however. In the next module, you'll see how Python can access specific characters within a string, and much more, with indexing.

## OPTIONAL: Looking for more practice? 
Start by running the cell below.

In [ ]:
s1 = 'cow'
s2 = 'pig'
s3 = 'hen'

Next, in separate cells below, write expressions using the variables above and the `+` and `*` operators that evaluate to the following. Note: Pay attention to spaces!

* `'cow pig hen'`
* `'cow cow cow cow cow cow cow cow cow cow '`
* `'cow pig pig hen hen hen'`
* `'cow pig cow pig cow pig cow pig cow pig cow pig cow pig '`
* `'pigpighen pigpighen pigpighen pigpighen pigpighen '`

In [ ]:
# 'cow pig hen'

'ant bat cod'

In [ ]:
# 'cow cow cow cow cow cow cow cow cow cow '

'ant ant ant ant ant ant ant ant ant ant '

In [ ]:
# 'cow pig pig hen hen hen' # This one's more tricky--notice, there's no space at the end

'ant bat bat cod cod cod'

In [ ]:
# 'cow pig cow pig cow pig cow pig cow pig cow pig cow pig '

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [ ]:
# 'pigpighen pigpighen pigpighen pigpighen pigpighen '

'batbatcod batbatcod batbatcod batbatcod batbatcod '