<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module6_lists_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/131979/pexels-photo-131979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' width=700>  
Photo by freestocks.org from Pexels

# APEX Faculty Training, Module 6: Lists and tuples

Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Dec 5, 2021  

**Learning outcomes**  
To learn about variables:

## 1. Documentation and PEP8
First, make a copy of this notebook! Then, enter you name as well as today's date in the cell above. Finally, keep in mind PEP8 guidelines regarding variable names and spaces when completing this lab activity!

Note: As you go, make sure to run example cells as you come across them, because some later cells depend on them and won't run properly if the previous cells haven't been run.

## 2. Lists  
A list is a data type containing a sequence of objects. The objects in a list can be of any type: integers, floats, strings, etc. Objects of different data types can also be contained in the same list, though that is not as common in practice.  
 
To tell Python that something is a list, we use square brackets to surround the list, with the items separated by commas. The following cells show various valid lists:

In [ ]:
int_list = [1, 2, 3, 4]

In [ ]:
float_list = [1.41, 1.61, 2.71, 3.14]

In [ ]:
bool_list = [True, True, False, True]

In [ ]:
str_list = ['alpha', 'beta', 'gamma', 'delta']

In [ ]:
mix_list = [1, 1.61, False, 'delta']

In the cells below, create lists consisting of the following objects:

<font color='red'>Exercise 1</font>  
* My first name, your first name, and a family member's name, assigned to the variable `names`

In [ ]:
# Names
names = ['Valerie', 'Chloe', 'Kurt']

<font color='red'>Exercise 2</font>  
* All of the odd numbers from 1-10, assigned to the variable `odd_nums`

In [ ]:
# Odd numbers
odd_nums = [1, 3, 5, 7, 9]

## 3. List operators  
Similar to how Python performs different operations on number types and strings, Python also performs special operations on lists. Some operations will be familiar (like those of strings), but some will be new!

### 3a. Algebraic operators

**i. Concatenation**  
Just like strings, lists can be joined together (concatenated). In the cell below, the following have been done:

1. Create the variable `fav_tops1` and assign it a list of your two favorite ice cream sundae toppings
2. Create the variable `fav_tops2` and assign it a list of your group member's two favorite toppings
3. Create the variable `our_tops` and assign it the concatenation of `fav_tops1` and `fav_tops2`
4. Type `our_tops` to ensure that the new list looks like you expect it to  

Run the cell and confirm that the output is what you expect.

In [ ]:
fav_tops1 = ['oreos', 'chocolate sprinkles']
fav_tops2 = ['caramel', 'peanuts']
our_tops = fav_tops1 + fav_tops2
our_tops

**ii. Copies**  
Multiple copies of a list can be created, similar to how you created multiple copies of a string. In the cell below, the variable `dubs` has been created and two copies of `our_tops` has been assign to it.  

Again, run the cell to ensure the output is what you expect.

In [ ]:
dubs = our_tops * 2
dubs

**iii. Min and max**  
For lists containing either numbers or strings (but not a mix of both), you can use the `min()` and `max()` functions. Remember, for strings, min and max refer to alphabetical order.  

In the cells below, two lists, one of numbers and one of floats, have been created. Run the cells to see the max price and the alphabetically earliest name.

In [ ]:
prices = [2.99, 1.49, 9.99, 6.29]
max(prices)

In [ ]:
names = ['Aurora', 'Natalia', 'Isabella', 'Emilia']
min(names)

**iv. Sum**  
For lists containing numbers, you can use the `sum()` function to determine the sum of all values in the list.  

Run the cell below to determine the sum of the list of odd numbers defined earlier in this module.

In [ ]:
sum(odd_nums)

###Now it's your turn.  
Try to do these on your own if possible, but if you need help, refer to the section mentioned in each exercise.

<font color='red'>Exercise 3</font>  
In the cell below, complete the following (part i. of this section):  
1. Create the variable `common_pets` and assign it a list of two common pets people keep.
2. Create the variable `uncommon_pets` and assign it a list of two less common pets people keep.
3. Create the variable `all_pets` and assign it the concatenation of `common_pets` and `uncommon_pets`.
4. Type `all_pets` to ensure that the new list looks like you expect it to.

<font color='red'>Exercise 4</font>  
Now create a variable called `uncommon_pets` and assign to it 5 copies of the `uncommon_pets` variable from the previous exercise (part ii. of this section):

<font color='red'>Exercise 5</font>  
Use Python to determine which of the pet types in `all_pets` appear latest in a dictionary (part iii. of this section):

<font color='red'>Exercise 6</font>  
Now, onto numbers, see what the sum of the list of `prices` from part iii. of this section is in the cell below (refer to part iv. of this section):

### 3b. Length
The function `len()` is used to determine the number of objects in a list. Below, the length of the list `names` is determined. Run the cell to see the output.

In [ ]:
len(names)

<font color='red'>Exercise 7</font>  
Using the `all_pets` you created in Exercise 3, determine the length of this list in the cell below.

### 3c. `in` and `not in`

In [ ]:
'Natalia' in names

In [ ]:
'Octavia' not in names

<font color='red'>Exercise 8</font>  
Sticking to the `all_pets` list, in the cell below, write an expression to determine whether `turtle` is in the list.

### 3d. Indexing

We can use the indexing operator (just like with strings!) to index specific items within a list.  

>Remember:  
• Indexing starts with 0, not 1.  
• Negative indexing counts from the end of the list backwards.

Run the cells below.

In [ ]:
names[0]

In [ ]:
names[-3]

'Natalia'

In [ ]:
names[-3] = 'Octavia'
names

['Aurora', 'Octavia', 'Isabella', 'Emilia']

<font color='red'>Exercise 9-10</font>  
Using the list `prices` from above, use the indexing operator to determine (a) the second, and (b) the second to last items in the list, keeping in mind that Python starts indexing at zero. Note: There is more than one correct way to solve each problem – you could use regular forwards indexing or negative indexing.

In [ ]:
# Second

In [ ]:
# Second to last

### 3e. Converting a string to a list of characters
The built-in function `list()` can be used to convert a string to a list of characters. Below, we've created the variable `team` and assigned it the name of a sports team. The `list()` function then converts this string to a list of characters.

In [ ]:
team = 'Spartans'
list(team)

['S', 'p', 'a', 'r', 't', 'a', 'n', 's']

## 4. List mutability
It is possible to change objects within a list using the indexing operator, meaning that lists are mutable. Strings, however, are immutable--they can't be changed. Evaluate the following code to help clarify this point, noting that **you'll receive an error for the string exercise.**

In [ ]:
words = ['these', 'are', 'my', 'words']
words[0] = 'those'
words

In [ ]:
word = 'word'
word[3] = 'k'
word

<font color='red'>Exercise 12</font>  
* Using the indexing operator on the list `words` from above, change the last object in the list to be `'fruits'`. Type the variable name to ensure that the change was made properly.

In [ ]:
# List mutability

<font color='red'>Exercise 13</font>  
* Create the variable `pet_name` and assign it the value`'buddy'`. Next, try to use the indexing operator to change the second letter to an `'a'` to make the word `'baddy'`, given that buddy just peed on the rug.

In [ ]:
# String immutability

Remember, since strings are immutable, you should have received an error (a TypeError to be exact) from running the last section. 

Though strings are immutable so you can't change them once they're defined, you can reassign a variable to a different, even similar string. For instance, while you couldn't change a letter within the string in the previous cell, we can reassign the variable `pet_name` with the string we want, like below.

In [ ]:
pet_name = 'baddy'
pet_name

In this case, we did not change the string, we replaced it with a different one by assigning it to the same variable.

## 5. Tuples  
Tuples are another Python data type that are quite similar to lists. Tuples can also contain various data types, but unlike lists, tuples are immutable. Tuples are enclosed in parentheses rather than the square brackets of lists. Other than these differences, tuples function very much like lists, and the same operations apply as well.  

Run the cell below to see how Python outputs a tuple, and maybe try using the `type()` function to see how Python tells you this object is a tuple.

In [ ]:
factors_of_24 = (1, 2, 3, 4, 6, 8, 12, 24)
factors_of_24

To gain practice with what does *and doesn't* work with tuples, complete the following:  
<font color='red'>Exercise 14</font>  
1. Create the variable `pres` and assign it a tuple with the names of the three most recent presidents.

In [ ]:
# Create tuple

<font color='red'>Exercise 15</font>  
2. Create the variable `pres_dubs` and use the `*` operator to create two copies of the `pres` tuple. Type the variable name to ensure that everything looks as it should. (Refer to section 3a. part ii.)

In [ ]:
# Make copies

<font color='red'>Exercise 16</font>  
3. Try to change the second name in the `pres_dubs` tuple to be your own last name. You'll receive an error like when you tried to change a letter within a string above. (Refer to section 3d. and 4)

In [ ]:
# Change name

<font color='red'>Exercise 17</font>  
4. Unrelated to presidents, convert the string assigned to the variable `pet_name` to a tuple of characters. (Refer to section 3e. Remember, we're talking about a tuple now, not a list). Use the `type()` function to be sure you've converted the string to a tuple.

In [ ]:
# Convert to tuple

## Congrats, you're done! 
You've learned the basic functionality of lists and tuples, two very useful Python data types. Next, we'll learn about another very useful Python data type: dictionaries.