<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module3_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?w=700&h=250&fit=crop' height=300px witdth=700px>

# APEX Faculty Training, Module 3: Strings
Created by Valerie Carr and Jaime Zuspann  
Licensed under Creative Commons/MIT License  
Last updated: Oct 30, 2021  

**Learning outcomes**  
1. To learn another Python data type: Strings
2. To gain practice with strings and string operators

## Remember: Make a copy

## 1. Document your notebook
Enter you name as well as today's date at the top of this notebook. 

Keep in mind PEP8 rules regarding spaces:
* Spaces before and after operators
* Don't put unnecessary spaces after a function name; just go straight to the parentheses
* Don't put unnecessary spaces at the beginning or end of parentheses

## 2. Determining data type  
### 2a. The `type()` function  
Python has a built-in function that can be used to determine data type: `type()`. This function can be used to directly determine a value's type or to determine the type of value assigned to a variable.  

Run the cells below to see how the `type()` function works on various inputs and feel free to try your own.

In [ ]:
type(6)

In [ ]:
type(3.14)

In [ ]:
type(False)

In [ ]:
a = 6 * 4
type(a)

int

### 2b. So why does Python have different data types?  
In everyday life, we treat letters and numbers differently:  
* We can multiply, divide, or square numbers  
* We can use letters to form words and sentences  
* But, "economics" divided by "psychology" doesn't make sense  

In other words, we perform different operations on numbers than we do on letters. Python is exactly the same. By knowing the data type, Python knows what operations can be performed.

### Try it yourself  
Each of the cells below contains a value. Insert the built-in function `type()` in front of each value to determine its data type. Remember that the input should go between the parentheses of the function.

In [ ]:
# 2a. 1) 
False

bool

In [ ]:
# 2a. 2) 
164.80

float

In [ ]:
# 2a. 3) 
106

int

In [ ]:
# 2a. 4) 
'Are you enjoying learning Python so far?'

str

In the cell below, create a new line underneath the one I've already written, and use the `type()` function to determine the data type for the value assigned to `answer`.

In [ ]:
# 2a. 5) 
answer = 'yes'

str

## 3. Strings  
So far, we have learned three different Python data types: integers, floats, and booleans. Now, we'll introduce the fourth type, strings.  

A string is a data type that you can think of as text or characters. Letters, punctuation, symbols, spaces, and numbers (when treated as text) can be used in a string.  

* 'Hello World!'
* 'a'
* '555-123-4567'
* '#strings'

### 3a. Quotes
The way we tell Python that something is a string is by putting quote marks around it. Python doesn't care if you use single or double quotes. Throughout these modules, you'll see that single quotes are used for strings, but you can choose which you prefer to use, neither is more correct than the other. The important thing is to stay consistent.  

Try running the cells below to see the difference quotes make for a number.

In [ ]:
type(2021)

int

In [ ]:
type('2021')

str

Now, assign the variable `fav_drink` with the name of your favorite type of drink (coffee, tea, boba, etc.), as a string with single quotes. For instance: `fav_drink = 'cappuccino'`. If you'd like to see the value as an output, you can type the variable name in the line below. Then do the same thing, but try using double quotes around the string. Finally, try not using any quotes at all, and see what happens when you run the cell.

In [3]:
# 3a. 1) 
# Single quotes

'ENGR102'

In [4]:
# 3a. 2) 
# Double quotes

'ENGR102'

In [6]:
# 3a. 3) 
# No quotes

NameError: ignored

Do you get a `NameError` when you don't use any quotes around the string? That is because Pyton doesn't know that it was meant as a string and is trying to treat it a different way, specifically, as a variable. However, since it wasn't defined as a variable previously, Python doesn't recognize it and therefore throws an error.

### 3b. Print  
Python has another built in function called `print()`. This function "prints" any string you provide as input, that is, it displays the string on the console when the function is run. Unlike the input, the output will not display the quote marks.  

To see how this works, follow the steps below.

First, run the cell below, which contains a string:

In [ ]:
econ = 'The four letter abbreviation for economics is ECON'

On line 2 of the cell below, simply type `econ` (i.e., the variable name) and run the cell. In the cell below that, use the built-in function `print()` with the variable name inside the parentheses. Can you see how the outut for the two cells are different? In later modules, we'll do much more interesting things with the print function!

In [ ]:
# 3b. 1) 
# Variable only

'The four letter abbreviation for economics is ECON'

In [ ]:
# 3b. 2) 
# Print variable

The four letter abbreviation for economics is ECON

## 4. String operators

### 4a. Comparison operators  
Like with the other data types we worked with in the previous module, comparison operators can also be applied to strings to create a Boolean expression.  

**i. Equality/inequality**  
To test for equality, use `==` and `!=`. Run the following cells to see how this works for strings.

In [18]:
my_string = 'hello' # = assigns a value

In [19]:
my_string == 'hello' # == tests for equality

True

In [20]:
my_string != 'hello' # != tests for inequality

False

### Try it yourself  
In the cell below, create the variable `fav_band1` and assign it a string of your current favorite band. In the same cell, start a new line and create the variable `fav_band2`, then assign it the name of your favorite band when you were in middle school. Ensure that you run the cell when you're done.

In [10]:
# 4ai. 1) 
fav_band1 = 'LCD Soundsystem'
fav_band2 = 'Led Zeppelin'

Next, determine whether your favorite band has remained the same through the years, i.e., test for equality of the two variables.

In [11]:
# 4ai. 2) 
fav_band1 == fav_band2

False

**ii. Alphabetical order**  
Python uses `<` and `>` to determine aphabetical order of strings. Think of < as meaning “appears before” and > as meaning “appears after” with respect to alphabetical order. It might also help to think of 'a' as having the smallest value in the alphabet (1), and 'z' having the largest value (26).  

Run the cell below to test the order of the strings stored in the variables.

In [21]:
word1 = 'cat'
word2 = 'dog'
word1 > word2

False

### Try it yourself  
In the cell below, create the variable `fav_book` and assign it the value of your favorite book. In the same cell, start a new line and create the variable `fav_movie`, and then assign it the value of your favorite movie.

In [22]:
# 4aii. 1) 
# Favorite book

# Favorite movie

Next, determine whether `fav_book` appears before `fav_movie` in the alphabet.

In [23]:
# 4aii. 2) Does fav_book come before fav_movie in the alphabet?

True

Now create a test to see if these comparison operators are case sensitive. Hint: Does 'cat' come before or after 'Dog'?

In [52]:
# 4aii. 3) What about different cases?

True

### 4b. Algebraic operators

**i. Concatenation**  
Strings can be joined together (concatenated) with the `+` operator.  

Run the cell below to see the output of two cells concatenated together.

In [24]:
str1 = 'hello'
str2 = 'world'
str1 + str2

'helloworld'

Notice that string contactenation with the `+` operator will not add any spaces for you, but will put the two strings together exactly as they are. Run the cell below to see how to concatenate the two strings with a space between them.

In [15]:
str1 + ' ' + str2

'hello world'

### Try it yourself  
In the cell below, create the variable `pizza` after the existing lines and assign it the joint value of `top1` and `top2`. In the same cell, insert a new line and type `pizza` to check what the output looks like.

In [16]:
# 4bi. 1)
top1 = 'artichokes'
top2 = 'olives'

## Your code here

Next, repeat the above process, but this time think about how you can include a space and a comma between the two toppings so that the output looks better.

In [ ]:
# 4bi. 2)

'artichokes olives'

**ii. Copies**  
Multiple copies of a string can be concatenated with the `*` operator and an integer. The integer can go before the `*` operator with the string after, or vice versa. Run the cells below to see how this works.

In [ ]:
# Integer first
2 * 'yo'

In [ ]:
# String first
'yo' * 2

In [17]:
# Include spaces
3 * 'yo '

'yo yo yo '

### Try it yourself  
In the cell below, assign a new value to `pizza` that evaluates to double `top1`.

In [ ]:
# 4bii. 1)
# Pizza with double top1

'olivesolives'

### 4c. `in` and `not in`  
Sometimes it's necessary to check whether a string contains a particular substring of characters (or not). To do this, Python has the keywords `in` and `not in`. Both of these work like the other Boolean operators we just learned: they take two string arguments and return either `True` or `False`.

In [29]:
my_alphabet = 'abcdefghijkmnopqrstuvwxyz'
'z' in my_alphabet

True

The character 'z' is in the string so the return value is `True`

In [31]:
'l' in my_alphabet

False

We seemed to have missed the letter 'l' when creating our alphabet, so it returns `False`.

### Try it yourself
You meet a new friend from Croatia, who tells you that her name is Ksenija. In the cell below, write an expression to determine whether the letter `y` is in her name.

In [ ]:
# 4c. 1) Does 'Ksenija' contain the letter 'y'?

False

In [53]:
# 4c. 2) Does the following sentence contain the word 'try'?
sentence = 'Do or do not, there is no try.'

# Your code here

True

### 4d. `len()`
Sometimes it is valuable to know how many characters are in a string. Python has a built-in function `len()` that will return the length of the item within its parentheses. Run the cells below to see how this works.

In [28]:
my_string = "Hello"
len(my_string)

5

In [26]:
my_string = 'Hello World'
len(my_string)

11

Notice how a space still counts as a character and therefore adds to the total number of characters in the string.

### Try it yourself
In the cell below, start by creating the variable `school` and assign it the name of your school (as a string).  

Then, in the same cell, insert a new line and determine the length of the string assigned to `school`.

In [40]:
# 4d. 1) Determine the length of the name of your school

43

## 5. String operators: Indexing
### 5a. Indexing operator `[]`  
A character's index is simply its position within the string.  


---


**IMPORTANT** - Python, unlike humans, starts counting at 0 instead of 1. This means that the first position, or index, of a string is 0.  

Also remember that all spaces, punctuation, and symbols count as characters in a string. 


---

In Python, we can see which character is at a certain index in a string by typing the variable it's stored in, followed by square brackets containing the index value we want to consider. See the following cells for a few examples.

In [58]:
my_string = 'Python is the best coding language!'

In [59]:
my_string[0] # First character

'P'

In [ ]:
my_string[9] # Tenth character

In [60]:
my_string[16] # Seventeenth character

's'

### Try it yourself
Continuing with the variable `school` from above (4d. 1), use the indexing operator to determine the first and fourth character of the string assigned to this variable. Reminder: Python starts indexing at zero, so when I say "the first character in the string", I mean the character at index 0.

In [63]:
# 5a. 1) First character of string assigned to variable school

In [64]:
# 5a. 2)  Fourth character of string assigned to variable school

## 5b. Negative indexing  
**Last character**  
What if we want to index the last character of a string? You may think immediately that we can use our `len()` function minus 1 as the value in the square brackets, and you'd be right. However, Python has a way to do this much more easily: negative indexing. All you need to do to get the last character of any string is use -1 as the value in the brackets.

In [65]:
# If it hasn't been changed, my_string contains 'Python is the best coding language!'
my_string[-1]

'!'

Negative indexing isn't just useful for getting the last character of a string, but for counting any number from the end of a string. For instance, the second to last character can be accessed with -2, the third from last with -3, and so on.  

Run the cell below, and also try your hand at using and predicting the result of negative indexing.

In [66]:
my_string[-2]

'e'

### Try it yourself  
Continuing with the variable `school`, use negative indexing to determine the last character of the string assigned to this variable, then the fifth from last.

In [42]:
# 5b. 1) Last character of string assigned to variable school

'!'

In [ ]:
# 5b. 2) Fifth from last character of string assigned to variable school

## Congrats, you're done! 
In this module, we've gone through the basics of strings: what they are and what operations we can perform on them. If you'd like more practice using strings in Python, continue below. Otherwise, continue to the next module to learn about lists and tuples!

## OPTIONAL: Looking for more practice? 
Start by running the cell below.

In [ ]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

Next, in separate cells below, write expressions using the variables above and the `+` and `*` operators that evaluate to the following. Note: Pay attention to spaces!

* `'ant bat cod'`
* `'ant ant ant ant ant ant ant ant ant ant '`
* `'ant bat bat cod cod cod'`
* `'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '`
* `'batbatcod batbatcod batbatcod batbatcod batbatcod '`

In [ ]:
# 'ant bat cod'
s1 + ' ' + s2 + ' ' + s3

'ant bat cod'

In [ ]:
# 'ant ant ant ant ant ant ant ant ant ant '
10 * (s1 + ' ')

'ant ant ant ant ant ant ant ant ant ant '

In [ ]:
# 'ant bat bat cod cod cod'
s1 + ' ' + 2 * (s2 + ' ') + 2 * (s3 + ' ') + s3

'ant bat bat cod cod cod'

In [ ]:
# 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
7 * (s1 + ' ' + s2 + ' ')

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [ ]:
# 'batbatcod batbatcod batbatcod batbatcod batbatcod '
5 * (2 * s2 + s3 + ' ')

'batbatcod batbatcod batbatcod batbatcod batbatcod '