<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module3_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?w=700&h=250&fit=crop' height=300px witdth=700px>

# APEX Faculty Training, Module 3: Strings
Created by Valerie Carr and Jaime Zuspann  
Licensed under Creative Commons/MIT License  
Last updated: Oct 30, 2021  

**Learning outcomes**  
1. To learn another Python data type: Strings
2. To gain practice with strings and string operators

## Remember: Make a copy

## 1. Document your notebook
Enter you name as well as today's date in the cell above. 

Keep in mind PEP8 rules regarding spaces:
* Spaces before and after operators
* Don't put unnecessary spaces after a function name; just go straight to the parentheses
* Don't put unnecessary spaces at the beginning or end of parentheses

## 2. Determining data type  
### 2a. The `type()` function  
Python has a built-in function that can be used to determine data type: `type()`. This function can be used to directly determine a value's type or to determine the type of value assigned to a variable.  

Run the cells below to see how the `type()` function works on various inputs and feel free to try your own.

In [ ]:
type(6)

In [ ]:
type(3.14)

In [ ]:
type(False)

In [1]:
a = 6 * 4
type(a)

int

### 2b. So why does Python have different data types?  
In everyday life, we treat letters and numbers differently:  
* We can multiply, divide, or square numbers  
* We can use letters to form words and sentences  
* But, "economics" divided by "psychology" doesn't make sense  

In other words, we perform different operations on numbers than we do on letters. Python is exactly the same. By knowing the data type, Python knows what operations can be performed.

### Try it yourself  
Each of the cells below contains a value. Insert the built-in function `type()` in front of each value to determine its data type. Remember that the input should go between the parentheses of the function.

In [ ]:
# 2a. 1) 
False

bool

In [ ]:
# 2a. 2) 
164.80

float

In [ ]:
# 2a. 3) 
106

int

In [ ]:
# 2a. 4) 
'Are you enjoying learning Python so far?'

str

In the cell below, create a new line underneath the one I've already written, and use the `type()` function to determine the data type for the value assigned to `answer`.

In [ ]:
# 2a. 5) 
answer = 'yes'

str

## 3. Strings  
So far, we have learned three different Python data types: integers, floats, and booleans. Now, we'll introduce the fourth type, strings.  

A string is a data type that you can think of as text or characters. Letters, punctuation, symbols, spaces, and numbers (when treated as text) can be used in a string.  

* 'Hello World!'
* 'a'
* '555-123-4567'
* '#strings'

### 3a. Quotes
The way we tell Python that something is a string is by putting quote marks around it. Python doesn't care if you use single or double quotes. Throughout these modules, you'll see that single quotes are used for strings, but you can choose which you prefer to use, neither is more correct than the other. The important thing is to stay consistent.  

Try running the cells below to see the difference quotes make for a number.

In [4]:
type(2021)

int

In [5]:
type('2021')

str

Now, assign the variable `course_num` with the code for the course you will use Python in, as a string with single quotes. For instance: `course_num = 'ENGR120'`. Then do the same thing, but try using double quotes around the string. Finally, try not using any quotes at all, and see what happens when you run the cell.

In [ ]:
# 3a. 1) 
# Single quotes
course_num = 'ENGR120'
# Double quotes
course_num = "ENGR120"
# No quotes
course_num = ENGR120

NameError: ignored

Do you get a `NameError` when you don't use any quotes around the string? That is because Pyton doesn't know that it was meant as a string and is trying to treat it a different way, specifically, as a variable. However, since it wasn't defined as a variable previously, Python doesn't recognize it and therefore throws an error.

### 3b. Print  
Python has another built in function called `print()`. This function "prints" any string you provide as input, that is, it displays the string on the console when the function is run. Unlike the input, the output will not display the quote marks.  

To see how this works, follow the steps below.

First, run the cell below, which contains a string:

In [1]:
econ = 'The four letter abbreviation for economics is ECON'

On line 2 of the cell below, simply type `econ` (i.e., the variable name) and run the cell. In the cell below that, use the built-in function `print()` with the variable name inside the parentheses. Can you see how the outut for the two cells are different? In later modules, we'll do much more interesting things with the print function!

In [2]:
# Variable only

'The four letter abbreviation for economics is ECON'

In [ ]:
# Print variable

The four letter abbreviation for economics is ECON

## 4. String operators

### 4a. Comparison operators

**Equality/inequality**  
In the cell below, create the variable `fav_band1` and assign it a string of your favorite band. In the same cell, start a new line and create the variable `fav_band2`, then assign it one of your group member's favorite band. Ensure that you run the cell when you're done.

In [ ]:
fav_band1 = 'LCD Soundsystem'
fav_band2 = 'The Velvet Underground'

Next, determine whether you have the same favorite band, i.e., test for equality.

In [ ]:
fav_band1 == fav_band2

False

**Alphabetical order**  
In the cell below, create the variable `fav_top1` and assign it the value of your favorite pizza topping. In the same cell, start a new line and create the variable `fav_top2`, and then assign it the value of your group member's favorite pizza topping.

In [ ]:
fav_top1 = 'artichokes'
fav_top2 = 'olives'

Next, determine whether `fav_top1` appears before `fav_top2` in the alphabet.

In [ ]:
fav_top1 < fav_top2

True

### 4b. Algebraic operators

**i. Concatenation**  
Strings can be joined together (concatenated) with the `+` operator, just like numbers. In the cell below, create the variable `pizza` and assign it the joint value of `fav_top1` and `fav_top2`. In the same cell, insert a new line and type `pizza` to check what the output looks like.

In [ ]:
pizza = fav_top1 + fav_top2
pizza

'artichokesolives'

Next, repeat the above process, but this time think about how you can include a space between your two favorite toppings so that the output looks better.

In [ ]:
pizza = fav_top1 + ' ' + fav_top2
pizza

'artichokes olives'

**ii. Copies**  
Multiple copies of a string can be created with the `*` operator. In the cell below, assign a new value to `pizza` that evaluates to double `fav_top2`.

In [ ]:
pizza = fav_top2 * 2
pizza

'olivesolives'

### 4c. `in` and `not in`
You meet a new friend from Croatia, who tells you that her name is Ksenija. In the cell below, write an expression to determine whether the letter `y` is in her name.

In [ ]:
'y' in 'Ksenija'

False

In [ ]:
name = 'Ksenija'
'y' in name

False

### 4d. `len()`
In the cell below, start by creating the variable `fav_class` and assign it this (extremely true) string:

`ENGR120 is my favorite class this semester!`

Then, in the same cell, insert a new line and determine the length of the string assigned to `fav_class`.

In [ ]:
fav_class = 'ENGR120 is my favorite class this semester!'
len(fav_class)

43

## 5. String operators: Indexing
**i. Indexing**  
Continuing with the variable `fav_class` from above, use the indexing operator to determine the first and fourth character of the string assigned to this variable. Reminder: Python starts indexing at zero, so when I say "the first character in the string", I mean the character at index 0.

In [ ]:
# First
fav_class[0]

'E'

In [ ]:
# Fourth
fav_class[3]

'R'

**ii. Last character: Negative indexing**  
Continuing with the variable `fav_class`, use negative indexing to determine the last character of the string assigned to this variable.

In [ ]:
fav_class[-1]

'!'

## Congrats, you're done! 
If you're done early, you're welcome to continue on to the additional (optional) practice problems below. Alternatively, you can use them as extra practice to help you study for this week's quiz!

## OPTIONAL: Looking for more practice? 
Start by running the cell below.

In [ ]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

Next, in separate cells below, write expressions using the variables above and the `+` and `*` operators that evaluate to the following. Note: Pay attention to spaces!

* `'ant bat cod'`
* `'ant ant ant ant ant ant ant ant ant ant '`
* `'ant bat bat cod cod cod'`
* `'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '`
* `'batbatcod batbatcod batbatcod batbatcod batbatcod '`

In [ ]:
# 'ant bat cod'
s1 + ' ' + s2 + ' ' + s3

'ant bat cod'

In [ ]:
# 'ant ant ant ant ant ant ant ant ant ant '
10 * (s1 + ' ')

'ant ant ant ant ant ant ant ant ant ant '

In [ ]:
# 'ant bat bat cod cod cod'
s1 + ' ' + 2 * (s2 + ' ') + 2 * (s3 + ' ') + s3

'ant bat bat cod cod cod'

In [ ]:
# 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
7 * (s1 + ' ' + s2 + ' ')

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [ ]:
# 'batbatcod batbatcod batbatcod batbatcod batbatcod '
5 * (2 * s2 + s3 + ' ')

'batbatcod batbatcod batbatcod batbatcod batbatcod '