<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module2a_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2a: Datatypes
Name: Valerie Carr  
Last updated: 8/25/21

**Learning Outcomes**:  
  • To learn Python datatypes  
  • To learn how to assign values to variables

Remember to click the Copy to Drive button before you begin so you can make changes in your own copy of the module.

## 1. Document your notebook
* Enter your name as well as today's date in the cell above (you'll need to double click the cell to edit it). As a reminder, to run a cell, use `shift` + `enter`.  
* Also, please note that for some of the exercises below, you may see the message "x cells hidden." Simply click on this message to reveal the cells.

## Expressions  
In Python, there are two types of expressions: Mathematical (algebraic) and Boolean.

## 2. Mathematical expressions  
### 2a. The basics  
  
Mathematical expressions are essentially using Python like a calculator. In Python, it is standard to type a space before and after each operation. This helps with easier readability.  
  
Here are the basic mathematical operators:  
Note: It may be useful to copy the expressions into a new code cell to run them yourself.
  
* Addition: `+`  
`79 + 40 #returns 119`  
  
* Subtraction: `-`  
`93 - 62 #returns 31`  
  
* Multiplication: `*`  
`2 * 58 #returns 116`  
   
* Division: `/`  
`482 / 16 #returns 30.125`  
  
* Exponentiation: `**`  
`4 ** 2 #returns 16`

Python can also calculate:  
  
* `//`  : Quotient (Integer Division) - the number of times operand1 can be divided by operand2   
`9 // 4 #returns 2`  
  
* `%`   : Modulus - the remainder left over after division  
`9 % 4 #returns 1`

###Try it yourself  
In the cells below, write expressions for each of the following, just below the comments, and run the cells:

In [ ]:
# 2a. 1) The number of continents on Earth multiplied by the number of planets in our solar system (sorry Pluto):

In [ ]:
# 2a. 2) This Module's number, cubed (to the power of 3)

In [ ]:
# 2a. 3) The current year divided by 100

### 2b. Data types
Look at the code cells below, and think of what the resulting values should be before you run the cells:

In [ ]:
2 + 1

3

In [ ]:
9 / 3

3.0

Now that you've run the cells, do you notice a difference between the results? While they're ultimately the same value, the addition expression results in an integer value of `3`, while the division expression results in a floating point value of `3.0`. These are two different data types, specifically, `int` and `float`.  
  
Here are the rules for `int` and `float`:  
* When two `int` values are added, subtracted, or multiplied together, the result is also an `int` value.  
* If an expression involves at least one `float` value, the result is a `float` value.  
* Division always results in a `float` value.

In the cells below, write expressions for each of the following. Consider which operations should return an integer and which should return a float.

In [ ]:
# 2b. 1) 6 plus 2

8

In [ ]:
# 2b. 2) 6.0 plus 2

8.0

In [ ]:
# 2b. 3) 6 divided by 2

3.0

### 2c. Order of operations
Python follows the same order of operations rule as algebra:  
* PEMDAS (Parentheses, Exponents, Multiplication/Division, Addition/Subtraction)  
* All else being equal, left to right

While not always necessary, parentheses can be helpful for clarification for human readers. Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is 24.

In [ ]:
# 2c. 1) Add parentheses to clarify order of operations
20 * 1 + 2 ** 2

24

### 2d. Built-in functions
Python has several helpful math-related functions:  
* Absolute Value: `abs()`  
  `abs(-4) #returns 4`  
  `abs(7 - 12) #returns 5`
* Minimum Value: `min()`  
`min(6, 19, 2, 13, 4) #returns 2`  
* Maximum Value: `max()`  
`max(6, 19, 2, 13, 4) #returns 19`

In the cells below, use built-in functions to determine the following:
* The absolute value of the difference between two children's ages (10 and 15)
* The lowest student grade received on a quiz: 76, 98, 83, 71
* The highest price of a cup of coffee: 2.50, 3.49, 2.99

In [ ]:
# 2d. 1) Ages

5

In [ ]:
# 2d. 2) Grade

71

In [ ]:
# 2d. 3) Coffee

3.49

## 3. Boolean expressions

### 3a. Basic Boolean expressions
A Boolean expression is a type of numeric expression that evaluates to `True` or `False`.  
  
Here are the basic Boolean operators:  
  
* Less than: `<`  
`42 < 42 #returns False`  
`15 < 51 #returns True` 
* Less than or equal to: `<=`  
`42 <= 42 #returns True`  
`15 <= 51 #returns True`  
* Greater than: `>`  
`42 > 42 #returns False`  
`15 > 51 #returns False` 
* Greater than or equal to: `>=`  
`42 >= 42 #returns True`  
`15 >= 51 #returns False` 
* Equal to: `==`  
`42 == 42 #returns True`  
`15 == 51 #returns False`  
* Not equal to: `!=`  
`42 != 42 #returns False`  
`15 != 51 #returns True` 
  
Note above -- the single equals sign, `=`, is not a Boolean operator (we'll get to that later). To check if two values are equal to each other, `==` must be used.

Boolean expressions can take mathematical expressions as their operands. Look at the code cell below, and try to determine the result before running it:

In [ ]:
2 * max(14, 3, 9, 17, 11) == 7 + 3 * 9

True

Did you get the result you expected? If not, can you determine why it gave that result?  
  
Now, try changing the mathematical expressions or even the Boolean operator and try to predict the results.

### Try it yourself  
Write Boolean expressions in each cell below. Feel free to use parentheses to help clarify your expressions.

In [ ]:
# 3a. 1) 3 squared plus 4 is equivalent to 25 minus 12

True

In [ ]:
# 3a. 2) The minimum age among four siblings (14, 9, 7, 2) is less than 3

True

### 3b. `and`, `or`, and `not`  
Boolean expressions can be combined using the `and`, `or`, and `not` operators.  
  
* The `and` operator evaluates to `True` if **both** Boolean expressions are `True` and `False` otherwise.  
`2 < 7 and 4 > 3 #returns True`  
`2 < 7 and 4 > 13 #returns False`  
* The `or` operator evaluates to `True` if **either** expression is `True`, or if both are `True`, and `False` only if both expressions are `False`.  
`2 < 3 or 4 < 5 #returns True`  
`2 < 3 or 4 > 5 # returns True`  
`2 > 3 or 4 > 5 # returns False`  
* The `not` operator is applied to a single Boolean expression, and reverses the expression.  
In other words, `not` evaluates to `True` if the expression is false, and `False` if the expression is true.  
`not (3 > 1) #returns False`  
`not (3 < 1) #returns True`  
`not (2 * 2 == 4) #returns False`

### Try it yourself  
In the cells below, come up with your choice of Boolean statements for the `and`, `or`, and `not` operators. Make sure you understand why you received `True` or `False` for each one.

In [ ]:
# 3b. 1) and

False

In [ ]:
# 3b. 2) or

True

In [ ]:
# 3b. 3) not

True

## 4. Assigning values to variables
### 4a. Variables and Assignment  
In Python, it's helpful to store values for later use. To store a value, we need to assign it to a variable.  
  
You can think of a variable like a box. You can drop a value into the box to store it, so you can access it later. If needed, you can change the value you've stored.

To assign a value to a variable:  
* The variable name always comes first  
* Then an equal sign followed by the value  
`x = 3 #assigns the value 3 to the variable x`  
`age = 20 #assigns the value 20 to the variable age`  

Note: It is a common mistake among students to put the value first with the variable after the equal sign. This doesn't work and will cause a SyntaxError. More on this error later.

In [2]:
x = 3 #assigns the value 3 to the variable x
age = 20 #assigns the value 20 to the variable age

In [11]:
20 = age #this is incorrect and will give you a SyntaxError

SyntaxError: ignored

If you run the code above, you'll see that there is no output. Assignment doesn't return a value. You can check if the values were assigned properly by simply typing the variable names on their own lines and running them. Note: if you put them in the same code cell, the output will only show the value stored in the last variable.

In [4]:
x

3

In [5]:
age

20



---


#### Note: `=` vs `==`  
We learned earlier that `==` is a Boolean operator that returns either `True` or `False` depending on whether it's operands are equal to each other. Now we see that `=` is an assignment operator--it assigns values to variables.  

`x = 17` assigns the value 7 to the variable x, regardless of any value x might have held before  
`x == 17` checks whether the value stored in x is equal to the value 7 and returns `True` or `False`

Be sure to take note of this, because this is a very common mistake to make. Even if you don't have an issue with this, some of your students certainly will. It's a very common mistake to use `=` to test whether two things are equal, and students often won't see what the mistake is. 


---

The value assigned to a variable is not permanently stored. That is, you can change the value later as necessary.  
  
Say you wish to update `age` after you initially stored the value of 20 to it. You can do that with exactly the same process:

In [6]:
age = 21
age #this will output the current value of age, after reassigning it in the previous line

21

### 4b. Using Variables in Expressions  
The point of creating variables is to store values for later use. As such, you can use variables in mathematical expressions rather than using an actual value. We could, for instance, assign a value of 20 to age, and then use age in a mathematical expression like so:

In [7]:
age = 20
2 * age

40

If you run the cell above, you'll see that Python treats the variable `age` as if it's actually the value 20, which was stored in it.

### 4c. Naming Rules  
* Variable names can contain letters, numbers, and the underscore symbol `_`.  
* However, names cannot *start* with a number.

In [8]:
# valid variable name
engr120 = 89
engr120 #this should output 89

89

In [9]:
# invalid variable name
120engr = 89 #this will cause an error even before the variable is used

SyntaxError: ignored



---


#### SyntaxError  
If you run the last code cell, you'll see that the type of error you get is a `SyntaxError`. This error indicates you have violated Python's grammar rules.  
  
You'll become very familiar with this type of error. It'll be frustrating and you may feel lost. But with repeated practice, things will start to click!


---

* Can't use spaces within multi-word variables. A space ends the current variable name.

In [ ]:
my variable = 42 #invalid variable name, will cause SyntaxError

>Instead, the following naming conventions can be used:  
* "Snake Case": `my_variable`  
* "Camel Case": `myVariable`  
>
>Snake Case is the consistent with PEP8 style and is the naming method we will use throughout this course. It is the naming convention most often used within Python.

* Can't use *reserved words*  
>There is a small set of reserved words with special meaning in Python. They include:  
><table>
  <tr>
    <td>and</td>
    <td>break</td>
    <td>def</td>
    <td>else</td>
    <td>finally</td>
    <td>global</td>
    <td>in</td>
    <td>nonlocal</td>
    <td>or</td>
    <td>return</td>
    <td>while</td>
  </tr>
  <tr>
    <td>as</td>
    <td>class</td>
    <td>del</td>
    <td>except</td>
    <td>for</td>
    <td>if</td>
    <td>is</td>
    <td>none</td>
    <td>pass</td>
    <td>true</td>
    <td>with</td>
  </tr>
  <tr>
    <td>assert</td>
    <td>continue</td>
    <td>elif</td>
    <td>false</td>
    <td>from</td>
    <td>import</td>
    <td>lambda</td>
    <td>not</td>
    <td>raise</td>
    <td>try</td>
    <td>yield</td>
  </tr>
</table>  
Dogs understand a small number of words in English, like treat, dinner, leash, walk, car, etc. You only use the words around a dog when you really mean it, bc the dog will automatically react. Same thing with Python – if you use these words, it will automatically try to do something.

#### Naming Tips  
Here are some tips you should try to follow to choose good variable names:  
* Use short variable names  
Saves space, easier to type repeatedly  
* Use meaningful names  
Your colleagues and your future self will thank you!  
>Say you need a variable name for "number of states".  
>- number_of_states is too long  
>- n is short, but not meaningful  
>- n_states is both short and meaningful

### Python is Literal  
Reminder: Python, like a calculator, will do exactly what you tell it to do, not what you *want* it to do.  

Imagine you create the variable n_states. Python will complain if you mistype any of the following later in your code - it doesn't autocorrect!  

>n_status  
n_state  
N_states  

If you create a variable and later mistype it, you'll get a NameError. Try running the code cell below.

In [10]:
n_states = 50
1 + n_status

NameError: ignored

## Try it yourself   
The practice for these sections will be a little out of order from how we presented it. This is the order you will actually use them in.  
### Choosing valid names (from section 4c.)
Below are some variable names to represent the price of a Hello Kitty mug. Note that I've purposefully made a few invalid names that will cause an error message. Before you run the cells, try to determine which ones will return an error, and what is wrong with them. Then run the cells. Which is the best choice? Would another option be better?

In [ ]:
hello_kitty = 9.99

In [ ]:
hello kitty = 9.99

SyntaxError: ignored

In [ ]:
hello-kitty = 9.99

SyntaxError: ignored

In [ ]:
hello_kitty1992 = 9.99

In [ ]:
1992hello_kitty = 9.99

SyntaxError: ignored

### ** Important note! **
In the lecture slides, I mentioned that PEP8 preference for multi-word variable names is to use underscores, e.g., `hello_kitty`.

Note that this is a **style preference**, and that Python won't actually give you an error if you created a slightly different variable name like: `helloKitty`. That is to say, many people would consider underscores to be more appropriate for Python code, but from Python's perspective, either `hello_kitty` or `helloKitty` are both acceptable and will run correctly.

### Assigning values to variables (from section 4a.)  
Let's practice assigning values to variables. We'll assign a new value to a variable that's already been used, and we'll assign a value to a brand new variable.  

In the cell below, assign the price you think is appropriate to `hello_kitty` (our hello kitty mug):

In [ ]:
# 4a. 1) Assign new value to hello_kitty

Now try creating a new variable (remember the naming tips) for the sale price of the mug when it goes 30% off. Use a mathematical expression to assign the correct value.

In [ ]:
# 4a. 2) Create and assign new variable for hello kitty mug on sale

### Using variables in expressions (from section 4b.)
Next, let's practice using a variable name inside a mathematical expression. In the cell below, write a mathematical expression to determine the following: the value assigned to `hello_kitty` squared

In [14]:
# 4b. 1) hello_kitty squared

We can also use variables inside Boolean expressions. In the cell below, write a Boolean expression to determine if the value assigned to `hello_kitty` is greater than or equal to 10.

In [15]:
# 4b. 2) is hello_kitty greater than or equal to 10?

### Importance of consistent capitalization, spelling, and pluralization (from section 4c.)
Remember, Python is very literal and doesn't autocorrect! In the space below, try repeating your Boolean expression from above, but purposefully make a mistake in how the variable is capitalized. Does it make sense why you receieved an error?

In [16]:
# 4c. 1) hello_kitty greater than or equal to 10, with mistake

## Congrats, you're done! 
At this point, you've learned the basics of Python datatypes, mathematical and Boolean expressions, variable names, and assignment. If you'd like more practice with these concepts, simply continue below.

### Mathematical expressions

In the cells below, write expressions for each of the following, and run the cells:
* The quotient for the number of times the current year can be divided by 100 
* The remainder of the above expression

In [ ]:
# Practice 1) Quotient

20

In [ ]:
# Practice 2) Remainder

21

### Data types
Write expressions for each of the following. Do you understand why both return floats?
* 6 divided by 2
* 6.0 divided by 2.0

In [ ]:
# Practice 3) 6 divided by 2

3.0

In [ ]:
# Practice 4) 6.0 divided by 2.0

3.0

### Order of operations
In the cell below, re-write the following expression to include parentheses to help clarify the order of operations, ensuring that your answer is correct (18.0):
* 10 / 5 + 3 * 6 - 2

In [ ]:
# Practice 5) 10 / 5 + 3 * 6 - 2 with parentheses

18.0

### Boolean expressions
Look back at the expressions you wrote for 3b above. How would you edit these to obtain the opposite answer? I.e., if your original expression returned `True`, edit it so that it now returns `False`.  
 
 For instance, if your original statement for `and` was `1 + 1 == 2 and 1 > 3` Python would have returned `False`. You could change the result in various ways, including changing the last 1 to a 10: `1 + 1 == 2 and 10 > 3` returns `True`.

In [ ]:
# Practice 6) and - different result

True

In [ ]:
# Practice 7) or - different result

False

In [ ]:
# Practice 8) not - different result

False