<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module2_datatypes_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://cdn.pixabay.com/photo/2018/11/17/12/27/mathematics-3821034_1280.jpg' width=700>  
Photo by ArtsyBee from Pixabay

# APEX Faculty Training, Module 2: Datatypes Solutions
Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Dec 14, 2021

## 3. Mathematical expressions

<font color='red'>Exercise 1 solution</font>  
The number of continents on Earth multiplied by the number of planets in our solar system (sorry Pluto):

In [ ]:
7 * 8

<font color='red'>Exercise 2 solution</font>  
This Module's number, cubed (to the power of 3)

In [ ]:
2 ** 3

<font color='red'>Exercise 3 solution</font>   
The current year divided by 100  
Note: Year may be different

In [ ]:
2022 / 100

<font color='red'>Exercise 4 solution</font>  
Run the cells to see the output. Output is:  
`2 + 1`: `3` (int)  
`3 * 1`: `3` (int)  
`1.5 * 2`: `3.0` (float)  
`9 / 3`: `3.0` (float)

<font color='red'>Exercise 5 solution</font>  
Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is still 24.

In [ ]:
(20 * 1) + (2 ** 2)

<font color='red'>Exercise 6 solution</font>   
Write code to determine the absolute value of the difference between two children's ages (10 and 15)

In [ ]:
abs(10 - 15)

<font color='red'>Exercise 7 solution</font>  
Determine the lowest student grade received on a quiz: 76, 98, 83, 71

In [ ]:
min(76, 98, 83, 71)

<font color='red'>Exercise 8 solution</font>   
Determine the highest price of a cup of coffee: 2.50, 3.49, 2.99

In [ ]:
max(2.50, 3.49, 2.99)

<font color='red'>Exercise 9 solution</font>  
Run the cell (`2 * max(14, 3, 9, 17, 11) == 7 + 3 * 9`). The output is `True`.

<font color='red'>Exercise 10 solution</font>  
Write the Boolean expression for 3 squared plus 4 is equivalent to 25 minus 12.

In [ ]:
3 ** 2 + 4 == 25 - 12

<font color='red'>Exercise 11 solution</font>  
Write the Boolean expression for the minimum age among four siblings (14, 9, 7, 2) is less than 3

In [ ]:
min(14, 9, 7, 2) < 3

<font color='red'>Exercise 12 possible solutions</font>  
Come up with your choice of Boolean statements for the `and`, `or`, and `not` operators.  
Note: There are a nearly infinite number of possibilities for these exercises, but here are possible solutions for each.

In [ ]:
# and
14 * 2 > 20 and max(7, 12, 3) == 12

In [ ]:
# or
1 > 11 or 4 + 3 == 12

In [ ]:
# not
not (abs(-14) >= 14)