<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module6_lists_and_tuples_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/131979/pexels-photo-131979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' width=700>  
Photo by freestocks.org from Pexels

# APEX Faculty Training, Module 6 Solutions

Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Jan 22, 2022

## 2. List basics  
<font color='red'>Exercise 1 solution</font>  
Names will be different, but solution should be the same.

In [ ]:
# List of names
names = ['Anna', 'James', 'Ryan']

# List of odd numbers
odd_nums = [1, 3, 5, 7, 9]

# Print
print(names)
print(odd_nums)

## 3. Operations with lists
<font color='red'>Exercise 2 solution</font>   
Run the cell to see the output. Output is:  
`['oreos', 'chocolate sprinkles', 'caramel', 'peanuts']`

<font color='red'>Exercise 3 solution</font>  
The pets may be different but the solution should be the same.

In [ ]:
common_pets = ['cat', 'dog', 'goldfish']
uncommon_pets = ['frog', 'hedgehog', 'chameleon']
all_pets = common_pets + uncommon_pets
print(all_pets)

<font color='red'>Exercise 4 solution</font>  
Run the cell to see the output. Output is:  
`['oreos', 'chocolate sprinkles', 'caramel', 'peanuts', 'oreos', 'chocolate sprinkles', 'caramel', 'peanuts']`

<font color='red'>Exercise 5 solution</font>

In [ ]:
lots_of_pets = uncommon_pets * 5
print(lots_of_pets)

<font color='red'>Exercise 6 solution</font>  
Run the cell to see the outputs. Outputs are:  
`9.99`  
`Aurora`

<font color='red'>Exercise 7 solution</font>

In [ ]:
# Pets
print(max(all_pets))

# Odd numbers
print(min(odd_nums))

<font color='red'>Exercise 8 solution</font>

In [ ]:
print(sum(prices))

<font color='red'>Exercise 9 solution</font>

In [ ]:
print(len(lots_of_pets))

<font color='red'>Exercise 10 solution</font>

In [ ]:
# Pets
print('turtle' in all_pets)

# Toppings
print('fudge' not in all_tops)

<font color='red'>Exercise 11 solution</font>  
Run the cell to see the outputs. Outputs are:  
`Isabella`  
`Aurora`

<font color='red'>Exercise 12</font>  
Using the `prices` list from above, use the indexing operator to determine: 
* The second item in the list, making sure to print the result (which should be 1.49)
* The second-to-last item in the list, making sure to print the result (which should be 9.99)

Note: There is more than one way to solve this exercise â€“ you could use regular or negative indexing to achieve the same result.

In [ ]:
# Second
print(prices[1])

# Second to last
print(prices[-2])

## 4. List properties
<font color='red'>Exercise 13 solution</font>  
Run the cell to see the outputs. Outputs are:  
`['cat', 'hat', 'bat']`  
`['mat', 'hat', 'bat']`

<font color='red'>Exercise 14 solution</font>  
The numbers may be different, but the structure should be the same

In [ ]:
# create the list
lucky_nums = [4, 12, 17]

# modify the list
lucky_nums[0] = 3
print(lucky_nums)

<font color='red'>Exercise 15 solution</font>  
Run the cell to see that a TypeError occurs when you attempt to change a string.

## 5. Tuples  
<font color='red'>Exercise 16 solution</font>  
When you run the cell, you'll receive a TypeError for attempting to change a value in a tuple.

In [18]:
# Create tuple
pres_tup = ('Biden', 'Trump', 'Obama')

In [ ]:
# Max value
print(max(pres_tup))

In [ ]:
# Double trouble
pres_double = pres_tup * 2
print(pres_double)

In [ ]:
# Swap names
pres_tup[0] = 'Smith'