<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://cdn.pixabay.com/photo/2018/11/17/12/27/mathematics-3821034_1280.jpg' width=700>

# APEX Faculty Training, Module 2: Datatypes
Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Nov 14, 2021 

**Learning Outcomes**:  
1. To learn about different different Python data types, including integers and floats
2. To learn how to write mathematical and Boolean expressions using these data types

## 1. A couple notes before you start

* This file is view only, meaning that you can't edit it.
    * To create an editable copy, look towards the top of the notebook and click on `Copy to Drive`. This will cause a new tab to open with your own personal copy.
    * If you want to refer back to your copy in the future, you can find it in Google Drive in a folder called `Colab Notebooks`.
* To run a cell, use `shift` + `enter`.  
* For some of the exercises below, you may see the message "x cells hidden." Simply click on that message to reveal the cells.

## 2. Data types
Many programming languages, including Python, utilize a variety of data types, each with different properties. 

Today, you'll learn about two number types: integers and floats. In future modules, you'll learn about strings, lists, tuples, dictionaries, and dataframes.

The difference between integers and floats is simple:  
* Integers are whole numbers like 1 or 42 or 2097
* Floats are numbers with decimal points, like 1.0, 42.5, or 2097.651

These number types can be used for obvious purposes, such as in mathematical expressions like `2 + 2`. They can also be used in Boolean expressions, which are statements that evaluate to either True or False, such as `2.3 > 5`. You'll learn more about both types of expressions below.

## 2. Mathematical expressions  

Mathematical expressions are essentially using Python like a calculator. In Python, it is standard to type a space before and after each operator. This helps with easier readability of your code. See below for some simple examples.
  
* Addition:  
`79 + 40`  
  
* Subtraction:  
`93 - 62`  
  
* Multiplication:   
`2 * 58`  
   
* Division:  
`482 / 16`  
  
* Exponentiation:  
`4 ** 2`
  
* Quotients, i.e., the number of times one integer can be divided by another:   
`9 // 4`  
  
* Modulus, i.e., the remainder left over:  
`9 % 4`

### 2a. Math whiz
Write code for each of the following exercises, making sure to run each cell when you're done writing your code.

<font color='red'>Exercise 1</font>  
The number of continents on Earth multiplied by the number of planets in our solar system (sorry Pluto):

<font color='red'>Exercise 2</font>  
This Module's number, cubed (to the power of 3)

<font color='red'>Exercise 3</font>  
The current year divided by 100

### 2b. Which data type?
You may have noticed that some of the expressions above returned integers, whereas others returned floats. 

Here are the rules for `int` and `float`:  
* When two `int` values are added, subtracted, or multiplied together, the result is also an `int` value.  
* If an expression involves at least one `float` value, the result is a `float` value.  
* Division always results in a `float` value.

<font color='red'>Exercise 4</font>   
Before running each of the cells below, think about which data type they'll retrun: `int` or `float`? Run each cell to find out if you're right!

In [ ]:
2 + 1

3

In [ ]:
3 * 1

In [ ]:
1.5 * 2

In [ ]:
9 / 3

3.0

### 2c. Order of operations
Python follows the same order of operations rule as algebra:  
* PEMDAS (Parentheses, Exponents, Multiplication/Division, Addition/Subtraction)  
* All else being equal, left to right

While not always necessary, parentheses can be helpful for clarification for human readers. 

<font color='red'>Exercise 5</font>  
Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is 24.

### 2c. Order of operations
Python follows the same order of operations rule as algebra:  
* PEMDAS (Parentheses, Exponents, Multiplication/Division, Addition/Subtraction)  
* All else being equal, left to right

While not always necessary, parentheses can be helpful for clarification for human readers. Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is 24.

In [ ]:
20 * 1 + 2 ** 2

24

### 2d. Built-in functions
Python has several helpful math-related functions. See below for a few simple examples.  
* Absolute Value:  
  `abs(-4)`  
  `abs(7 - 12)`
* Minimum Value:  
`min(6, 19, 2, 13, 4)`  
* Maximum Value:  
`max(6, 19, 2, 13, 4)`

<font color='red'>Exercise 6</font>   
Using the above examples as a guide, write code to determine the absolute value of the difference between two children's ages (10 and 15)

5

<font color='red'>Exercise 7</font>  
Determine the lowest student grade received on a quiz: 76, 98, 83, 71

71

<font color='red'>Exercise 8</font>   
Determine the highest price of a cup of coffee: 2.50, 3.49, 2.99

3.49

## 3. Boolean expressions

A Boolean expression is a type of numeric expression that evaluates to `True` or `False`. 

### 3a. Basic Boolean operators
  
Here are the basic Boolean operators:  
  
* Less than: `<`  
`42 < 42 #returns False`  
`15 < 51 #returns True` 
* Less than or equal to: `<=`  
`42 <= 42 #returns True`  
`15 <= 51 #returns True`  
* Greater than: `>`  
`42 > 42 #returns False`  
`15 > 51 #returns False` 
* Greater than or equal to: `>=`  
`42 >= 42 #returns True`  
`15 >= 51 #returns False` 
* Equal to: `==`  
`42 == 42 #returns True`  
`15 == 51 #returns False`  
* Not equal to: `!=`  
`42 != 42 #returns False`  
`15 != 51 #returns True` 
  
Note above -- the single equals sign, `=`, is not a Boolean operator (we'll get to that later). To check if two values are equal to each other, `==` must be used.

<font color='red'>Exercise 9</font>  
Boolean expressions can take mathematical expressions as their operands. Look at the code cell below, and try to determine the result before running it:

In [ ]:
2 * max(14, 3, 9, 17, 11) == 7 + 3 * 9

True

Did you get the result you expected? If not, can you determine why it gave that result?  
  
Now, try changing the mathematical expressions or even the Boolean operator and try to predict the results.

<font color='red'>Exercise 10</font>  
Write the Boolean expression for 3 squared plus 4 is equivalent to 25 minus 12. Remember the difference between the assignment operator and the equivalence operator? Feel free to use parentheses to help clarify your expressions.

True

<font color='red'>Exercise 11</font>  
Write the Boolean expression for the minimum age among four siblings (14, 9, 7, 2) is less than 3

True

### 3b. `and`, `or`, and `not`  
Boolean expressions can be combined using the `and`, `or`, and `not` operators.  
  
* The `and` operator evaluates to `True` if **both** Boolean expressions are `True` and `False` otherwise.  
`2 < 7 and 4 > 3 #returns True`  
`2 < 7 and 4 > 13 #returns False`  
* The `or` operator evaluates to `True` if **either** expression is `True`, or if both are `True`, and `False` only if both expressions are `False`.  
`2 < 3 or 4 < 5 #returns True`  
`2 < 3 or 4 > 5 # returns True`  
`2 > 3 or 4 > 5 # returns False`  
* The `not` operator is applied to a single Boolean expression, and reverses the expression.  
In other words, `not` evaluates to `True` if the expression is false, and `False` if the expression is true.  
`not (3 > 1) #returns False`  
`not (3 < 1) #returns True`  
`not (2 * 2 == 4) #returns False`

<font color='red'>Exercise 12</font>  
In the cells below, come up with your choice of Boolean statements for the `and`, `or`, and `not` operators. Make sure you understand why you received `True` or `False` for each one.

In [ ]:
# and

False

In [ ]:
# or

True

In [ ]:
# not

True

## Congrats, you're done! 
At this point, you've learned the basics of Python datatypes, mathematical and Boolean expressions, variable names, and assignment. If you'd like more practice with these concepts, simply continue below. Next, we'll learn about variables.

### Mathematical expressions  
In the cells below, write expressions for each of the following, and run the cells:
* The quotient for the number of times the current year can be divided by 100 
* The remainder of the above expression

In [ ]:
# Practice 1) Quotient

20

In [ ]:
# Practice 2) Remainder

21

### Data types
Write expressions for each of the following. Do you understand why both return floats?
* 6 divided by 2
* 6.0 divided by 2.0

In [ ]:
# Practice 3) 6 divided by 2

3.0

In [ ]:
# Practice 4) 6.0 divided by 2.0

3.0

### Order of operations
In the cell below, re-write the following expression to include parentheses to help clarify the order of operations, ensuring that your answer is correct (18.0):
* 10 / 5 + 3 * 6 - 2

In [ ]:
# Practice 5) 10 / 5 + 3 * 6 - 2 with parentheses

18.0

### Boolean expressions
Look back at the expressions you wrote for 3b above. How would you edit these to obtain the opposite answer? I.e., if your original expression returned `True`, edit it so that it now returns `False`.  
 
 For instance, if your original statement for `and` was `1 + 1 == 2 and 1 > 3` Python would have returned `False`. You could change the result in various ways, including changing the last 1 to a 10: `1 + 1 == 2 and 10 > 3` returns `True`.

In [ ]:
# Practice 6) and - different result

True

In [ ]:
# Practice 7) or - different result

False

In [ ]:
# Practice 8) not - different result

False