<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module5_string_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://cdn.pixabay.com/photo/2020/04/21/16/41/threads-5073817_1280.jpg' width=700>   
Photo by ds_30 from Pixabay

# APEX Faculty Training, Module 5: String Operations
Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Jan 22, 2022

**Learning outcomes**  
1. To continue learning how to perform operations with strings

## 1. A couple notes before you start 
* This file is view only, meaning that you can't edit it.
    * To create an editable copy, look towards the top of the notebook and click on `Copy to Drive`. This will cause a new tab to open with your own personal copy.
    * If you want to refer back to your copy in the future, you can find it in Google Drive in a folder called `Colab Notebooks`.
* To run a cell, use `shift` + `enter`.   
* Keep the following Python style preferences in mind:
    * Variable names should use `snake_case`
    * Include spaces before and after operators, e.g., `x + 1`
    * Don't put unnecessary spaces after a function name, before the parentheses
        * Correct: `print(my_variable)`
        * Incorrect: `print (my_variable)`
    * Don't put unnecessary spaces at the beginning or end of parentheses
        * Correct: `print(my_variable)`
        * Incorrect: `print( my_variable )`

## 2. Algebraic operators
A small number of algebraic operators can be used on strings. Specifically, we can use the `+` operator to combine strings, and we can use the `*` operator to make copies of strings.

### 2a. Concatenation
Strings can be concatenated, i.e., added together, with the `+` operator. For example, you could take the strings `hot` and `dog` and concatenate them to become `hotdog`.

<font color='red'>Exercise 1</font>  
In the cell below, we've created already two variables and assigned them each a string. Then, we try out a couple different ways of concatenating the strings. Run the cell below to see the difference produced with these two approaches.

In [ ]:
str1 = 'hello'
str2 = 'world'
print(str1 + str2)
print(str1 + ' ' + str2)

As you can see, the `+` operator doesn't add spaces between strings; rather, it puts them directly together. If you want a space to appear between two strings, you need to add the space yourself as can be seen on the last line above.

<font color='red'>Exercise 2</font>  
In the cell below, we've already created two variables and assigned them each a string. Underneath these lines, create the variable `pizza` and assign it the combined value of `top1` and `top2` such that they're printed with a space in-between. Finally, insert another new line and print `pizza` to check that your output is as expected.

In [ ]:
top1 = 'artichokes'
top2 = 'olives'

### 2b. Copies
Multiple copies of a string can be made with the `*` operator along with an integer that indicates how many copies are desired. The integer can be written first followed by the string (e.g., `7 * 'hello'`) or the string can be written first followed by the integer (e.g., `'hello' * 7`)

<font color='red'>Exercise 3</font>  
Run the cell below to verify that both approaches provide the same output.

In [ ]:
# Integer first
print(2 * 'yo')

# String first
print('yo' * 2)

 What if we wanted to make copies that had spaces between them? This is easy to do â€“ inside the quote marks for the string of interest, simply insert a space at the end. So, instead of `'ha'` you would have `'ha '`.

 <font color='red'>Exercise 4</font>  
 Try it out! In the cell below, write code that will print the following output: `ha ha ha ha ha `. In other words, 5 copies of the word `ha` separated by spaces.

## 3. Checking the contents of a string
It's often helpful to check whether a string contains a particular character or set of characters. For example, can the word `disgusting` be found in the larger sentence `Pizza is delicious`?

To check the contents of a string, Python uses the keywords `in` and `not in` within a Boolean expression, such that the result is either `True` or `False`. 

The general syntax is as follows:

`'char' in my_str`  
`'char' not in my_str`

<font color='red'>Exercise 5</font>  
Run the cell below to see a simple demonstration of this concept.

In [ ]:
my_alphabet = 'abcdefghijkmnopqrstuvwxyz'
print('z' in my_alphabet)
print('l' not in my_alphabet)

The first Boolean expression returns `True` because the letter `z` is indeed part of our `my_alphabet`. We seemed to have missed the letter `l` when creating the alphabet, however, so the second Boolean expression is also `True`.

<font color='red'>Exercise 6</font>  
Try it yourself! If you're a Star Wars fan, you may remember Yoda's advice to Luke: "Do or do not, there is no try."

In the cell below, create the variable `yoda` and assign it this sentence as a string. Then, check whether the word `force` is part of the sentence.

## 4. Determining the length of a string
Although there are numerous benefits to learning how to program, one of the major benefits is automating something that would otherwise be quite tedious to do by hand. For example, how many characters are in this paragraph? Why painstakingly count each one when Python could do it for you!

To determine the length of a string, i.e., how many characters are in a string, Python uses the built-in function `len()`. This function will return length of whatever string is placed inside the parentheses.

<font color='red'>Exercise 7</font>  
Run the cells below to see a few simple examples of using the `len()` function:

In [ ]:
greeting = "Hi there"
len(greeting)

In [ ]:
farewell = 'Until then!'
len(farewell)

In [ ]:
time = 'See you at 8'
len(time)

---

#### <font color='blue'>Note:</font> What counts as a character? 
Python considers all of the following to be characters and will thus count them in the total length of the string:
* Letters
* Numbers
* Punctuation (periods, commas, exclamation points, etc.)
* Symbols (hyphens, hashtags, ampersands, etc.)
* Spaces  

The last one might surprise you! The string `'Hi there'` is 8 characters long rather than 7 because spaces count as characters. Revisit each of the examples above to ensure that you understand why each output was produced.

---

<font color='red'>Exercise 8</font>  
In the cell below, start by creating the variable `school` and assign it the name of your institution as a string. Don't simply write the acronym (e.g., SJSU), but rather spell out the full name (e.g., San Jose State University).

Then, in the same cell, insert a new line and determine the length of the string assigned to `school`.

## 5. Accessing individual characters in a string
Imagine that you wanted to select the first letter in the name `Trinh`. How can you access an individual character within a string? By using the indexing operator! Before we jump to understanding this operator, let's first discuss what is meant by the term **index**. A character's index is simply its position within a string.


---


#### <font color='blue'>Note:</font> Indexing starts at 0 
Unlike human counting, Python indexing starts at 0 instead of 1. This means that the first character in a string has an index of 0, the second character has an index of 1, the third character has an index of 2, etc. See the table below for a visual representation of the index of each character in a simple string:

<table>
  <tr>
    <td>H</td>
    <td>e</td>
    <td>l</td>
    <td>l</td>
    <td>o</td>
    <td>!</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</table>  


It's also important to remember that a string's characters include not only letters, but also numbers, punctuation, symbols, and spaces. Thus, the exclamation point in the above example counts as a character and can be found at index 2.


---

Back to our original example of wanting to select the first letter in the name `Trinh`. We do this using Python's indexing operator, or `[]`. the general syntax for using this operator is as follows

`my_str[n]`

Instead of `n`, however, you would insert an integer that represents an index. To select the first character in a string, we use an index of 0. Putting it all together, we would have

`name = 'Trinh'`  
`name[0]`

<font color='red'>Exercise 9</font>  
Run the cell below to see a few more examples of using the indexing operator. You may be surprised to see that there are only two outputs, when you expected three. Think carefully: why does it appear as though nothing was returned for `fact[6]`?

In [ ]:
fact = 'Python is the best coding language!'
print(fact[1])
print(fact[6])
print(fact[34])

<font color='red'>Exercise 10</font>  
In the cell below, create the variable `birthplace` and assign it a short string that states where you were born. For example, `'I was born in the Phillipines.'` 

Then, write code that will print the first and fourth character of this string. Reminder: Python starts indexing at zero, so when we say "the first character in the string", we mean the character at index 0.

## 6. Negative indexing  
The process described above is "normal" or "forward" indexing. Using this approach, the very first character (i.e., the character that is furthest left) is at index 0, and the numbers increase from there. 

Python also allows for "negative" or "backward" indexing. With this approach, we start with the very last character (i.e., the character that is furthest right). This character has an index of -1. Moving left, the second to last character has an index of -2, the third to last character has an index of -3, etc. See the table below for a visual representation of both normal and negative indexing for a simple string:

<table>
  <tr>
    <td>H</td>
    <td>e</td>
    <td>l</td>
    <td>l</td>
    <td>o</td>
    <td>!</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    </tr>
  <tr>
    <td>-6</td>
    <td>-5</td>
    <td>-4</td>
    <td>-3</td>
    <td>-2</td>
    <td>-1</td>
    </tr>
</table>  

<font color='red'>Exercise 11</font>  
Continuing on with the same string as in Exercise 10 (`birthplace`), use negative indexing to determine the second to last character in the string. You may need to scroll back up to ensure that the output you received is as you expected.

## Congrats, you're done! 
In this module, we've finished our discussion of strings. If you'd like more practice with string operations, click on this link to be taken to a Colab notebook with more practice exercises. 

Otherwise, continue to the next module to learn about two new data types: lists and tuples!