<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APEX Faculty Training, Module 2: Datatypes
Created by Valerie Carr and Jaime Zuspann  
Last updated: Nov 7, 2021 

**Learning Outcomes**:  
To learn the Python datatypes:  
 • int  
 • float  
 • boolean

## 1. Make a Copy and Document your notebook
* Make a copy of this notebook to your drive.  
* Enter your name as well as today's date in the cell above (you'll need to double click the cell to edit it). As a reminder, to run a cell, use `shift` + `enter`.  
* Also, please note that for some of the exercises below, you may see the message "x cells hidden." Simply click on this message to reveal the cells.

## Expressions  
In Python, there are two types of expressions: Mathematical (algebraic) and Boolean.

## 2. Mathematical expressions  
### 2a. The basics  
  
Mathematical expressions are essentially using Python like a calculator. In Python, it is standard to type a space before and after each operation. This helps with easier readability.  
  
Here are the basic mathematical operators:  
Note: It may be useful to copy the expressions into a new code cell to run them yourself.
  
* Addition: `+`  
`79 + 40 #returns 119`  
  
* Subtraction: `-`  
`93 - 62 #returns 31`  
  
* Multiplication: `*`  
`2 * 58 #returns 116`  
   
* Division: `/`  
`482 / 16 #returns 30.125`  
  
* Exponentiation: `**`  
`4 ** 2 #returns 16`

Python can also calculate:  
  
* `//`  : Quotient (Integer Division) - the number of times operand1 can be divided by operand2   
`9 // 4 #returns 2`  
  
* `%`   : Modulus - the remainder left over after division  
`9 % 4 #returns 1`

###Try it yourself  
In the cells below, write expressions for each of the following, just below the comments, and run the cells:

In [ ]:
# 2a. 1) The number of continents on Earth multiplied by the number of planets in our solar system (sorry Pluto):

In [ ]:
# 2a. 2) This Module's number, cubed (to the power of 3)

In [ ]:
# 2a. 3) The current year divided by 100

### 2b. Data types
Look at the code cells below, and think of what the resulting values should be before you run the cells:

In [ ]:
2 + 1

3

In [ ]:
9 / 3

3.0

Now that you've run the cells, do you notice a difference between the results? While they're ultimately the same value, the addition expression results in an integer value of `3`, while the division expression results in a floating point value of `3.0`. These are two different data types, specifically, `int` and `float`.  
  
Here are the rules for `int` and `float`:  
* When two `int` values are added, subtracted, or multiplied together, the result is also an `int` value.  
* If an expression involves at least one `float` value, the result is a `float` value.  
* Division always results in a `float` value.

In the cells below, write expressions for each of the following. Consider which operations should return an integer and which should return a float.

In [ ]:
# 2b. 1) 6 plus 2

8

In [ ]:
# 2b. 2) 6.0 plus 2

8.0

In [ ]:
# 2b. 3) 6 divided by 2

3.0

### 2c. Order of operations
Python follows the same order of operations rule as algebra:  
* PEMDAS (Parentheses, Exponents, Multiplication/Division, Addition/Subtraction)  
* All else being equal, left to right

While not always necessary, parentheses can be helpful for clarification for human readers. Add parentheses to the expression below to help clarify the order of operations, ensuring that your answer is 24.

In [ ]:
# 2c. 1) Add parentheses to clarify order of operations
20 * 1 + 2 ** 2

24

### 2d. Built-in functions
Python has several helpful math-related functions:  
* Absolute Value: `abs()`  
  `abs(-4) #returns 4`  
  `abs(7 - 12) #returns 5`
* Minimum Value: `min()`  
`min(6, 19, 2, 13, 4) #returns 2`  
* Maximum Value: `max()`  
`max(6, 19, 2, 13, 4) #returns 19`

In the cells below, use built-in functions to determine the following:
* The absolute value of the difference between two children's ages (10 and 15)
* The lowest student grade received on a quiz: 76, 98, 83, 71
* The highest price of a cup of coffee: 2.50, 3.49, 2.99

In [ ]:
# 2d. 1) Ages

5

In [ ]:
# 2d. 2) Grade

71

In [ ]:
# 2d. 3) Coffee

3.49

## 3. Boolean expressions

### 3a. Basic Boolean expressions
A Boolean expression is a type of numeric expression that evaluates to `True` or `False`.  
  
Here are the basic Boolean operators:  
  
* Less than: `<`  
`42 < 42 #returns False`  
`15 < 51 #returns True` 
* Less than or equal to: `<=`  
`42 <= 42 #returns True`  
`15 <= 51 #returns True`  
* Greater than: `>`  
`42 > 42 #returns False`  
`15 > 51 #returns False` 
* Greater than or equal to: `>=`  
`42 >= 42 #returns True`  
`15 >= 51 #returns False` 
* Equal to: `==`  
`42 == 42 #returns True`  
`15 == 51 #returns False`  
* Not equal to: `!=`  
`42 != 42 #returns False`  
`15 != 51 #returns True` 
  
Note above -- the single equals sign, `=`, is not a Boolean operator (we'll get to that later). To check if two values are equal to each other, `==` must be used.

Boolean expressions can take mathematical expressions as their operands. Look at the code cell below, and try to determine the result before running it:

In [ ]:
2 * max(14, 3, 9, 17, 11) == 7 + 3 * 9

True

Did you get the result you expected? If not, can you determine why it gave that result?  
  
Now, try changing the mathematical expressions or even the Boolean operator and try to predict the results.

### Try it yourself  
Write Boolean expressions in each cell below. Feel free to use parentheses to help clarify your expressions.

In [ ]:
# 3a. 1) 3 squared plus 4 is equivalent to 25 minus 12

True

In [ ]:
# 3a. 2) The minimum age among four siblings (14, 9, 7, 2) is less than 3

True

### 3b. `and`, `or`, and `not`  
Boolean expressions can be combined using the `and`, `or`, and `not` operators.  
  
* The `and` operator evaluates to `True` if **both** Boolean expressions are `True` and `False` otherwise.  
`2 < 7 and 4 > 3 #returns True`  
`2 < 7 and 4 > 13 #returns False`  
* The `or` operator evaluates to `True` if **either** expression is `True`, or if both are `True`, and `False` only if both expressions are `False`.  
`2 < 3 or 4 < 5 #returns True`  
`2 < 3 or 4 > 5 # returns True`  
`2 > 3 or 4 > 5 # returns False`  
* The `not` operator is applied to a single Boolean expression, and reverses the expression.  
In other words, `not` evaluates to `True` if the expression is false, and `False` if the expression is true.  
`not (3 > 1) #returns False`  
`not (3 < 1) #returns True`  
`not (2 * 2 == 4) #returns False`

### Try it yourself  
In the cells below, come up with your choice of Boolean statements for the `and`, `or`, and `not` operators. Make sure you understand why you received `True` or `False` for each one.

In [ ]:
# 3b. 1) and

False

In [ ]:
# 3b. 2) or

True

In [ ]:
# 3b. 3) not

True

## Congrats, you're done! 
At this point, you've learned the basics of Python datatypes, mathematical and Boolean expressions, variable names, and assignment. If you'd like more practice with these concepts, simply continue below. Next, we'll learn about variables.

### Mathematical expressions

In the cells below, write expressions for each of the following, and run the cells:
* The quotient for the number of times the current year can be divided by 100 
* The remainder of the above expression

In [ ]:
# Practice 1) Quotient

20

In [ ]:
# Practice 2) Remainder

21

### Data types
Write expressions for each of the following. Do you understand why both return floats?
* 6 divided by 2
* 6.0 divided by 2.0

In [ ]:
# Practice 3) 6 divided by 2

3.0

In [ ]:
# Practice 4) 6.0 divided by 2.0

3.0

### Order of operations
In the cell below, re-write the following expression to include parentheses to help clarify the order of operations, ensuring that your answer is correct (18.0):
* 10 / 5 + 3 * 6 - 2

In [ ]:
# Practice 5) 10 / 5 + 3 * 6 - 2 with parentheses

18.0

### Boolean expressions
Look back at the expressions you wrote for 3b above. How would you edit these to obtain the opposite answer? I.e., if your original expression returned `True`, edit it so that it now returns `False`.  
 
 For instance, if your original statement for `and` was `1 + 1 == 2 and 1 > 3` Python would have returned `False`. You could change the result in various ways, including changing the last 1 to a 10: `1 + 1 == 2 and 10 > 3` returns `True`.

In [ ]:
# Practice 6) and - different result

True

In [ ]:
# Practice 7) or - different result

False

In [ ]:
# Practice 8) not - different result

False